<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DXSchedulingApp1.Properties.Settings.GROWFITConnectionString"
            connectionString="Data Source=DESKTOP-538ITK2;Initial Catalog=GROWFIT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>